# Database
DATABASE_URL="mysql://nexus_user:nexus_password@localhost:3307/nexus_db"

# API
PORT=3333
NODE_ENV=development
FRONTEND_URL="http://localhost:5173"

# Web
VITE_API_URL="http://localhost:3333/api"